# LaTeX tmp
*.toc
*.aux
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.vrb
*.xdv
*(busy)
*.synctex.gz
*-ERROR

# bibtex tmp
*.bbl
*.bcf
*.blg
*-blx.bib
*.run.xml

# nomencl tmp
*.ilg
*.nlo
*.nls

# Pictures
*.jpg
*.jpeg
*.png
*.emf
*.wmf

# Videos
*.mp4
*.flv
*.egp
*.mkv

# Templates
!slides/beamer.template.tex
!articles/article.template.tex

# webstorm project files
.idea

# put any other files you don't want to check in here,
# such as .DS_Store (OSX), *.bak, etc.
.DS_Store
*.log
*.bak
*.swp
*.tmp
