# LaTeX tmp
*.toc
*.aux
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.vrb

# bibtex tmp
*.bbl
*.bcf
*.blg
*-blx.bib
*.run.xml

# Pictures
*.pdf
*.tex
*.jpg
*.jpeg
*.png
*.emf
*.wmf

# Videos
*.mp4
*.flv
*.egp
*.mkv

# Finished files
!preamble-notes.tex
!preamble-slides.tex
!macros.tex

# webstorm project files
.idea

# put any other files you don't want to check in here,
# such as .DS_Store (OSX), *.bak, etc.
.DS_Store
*.log
*.bak
*.swp
*.tmp
